
.fas {
    font-size: 13px;
    font-weight: normal;

}
.title {
    background-color: #f7f7f7;
    display: flex;
    height: 3em;
    align-items: center;
    box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 7%);
}
.title-bar {
    width: 80%;
    margin:auto;
    text-align:left;
}
.title-bar a {
    text-decoration: none;
    color: #707070;
}
.information-product {
    width: 100%;
    box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 7%);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-bottom: 4rem;
}
.container {
    width: 80%;
    margin:auto;
}
.infor {
    display:flex;
}
.image-product {
    width: 21rem;
    margin-right:1rem;
}
.image-product img {
    width: 340px;
    height: 340px;
    border:2px solid #ccc;
    margin-top: 1rem;

}
.content-left {
    width: 100rem;
    display:flex;
    padding-top:1rem;
}
.information {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left:1rem;
}
.name p {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.rate span {
    margin-left:0.5rem;
    margin-right:0.5rem;
     color:black;
     font-size:18px;
}
.rate ul {
    padding:0;
}
.form-amount {
    width: 100%;
    line-height: 30px;
    padding: 8px;
    text-align: center;
    display: flex;
}

.price span {
    color: red;
    font-size: 1.875rem;
    line-height: 4rem;
}
.amount button {
    background: transparent;
    border: 1px solid #ccc;
    width: 35px;
    font-size: 22px;
    color:grey;
}
.amount a {
    border: 1px solid red;
    text-decoration: none;
    padding: 12px 35px 12px 35px;
    color: red;
    font-size: 20px;
    font-weight: bold;

}
.amount a:hover {
    color:#fff;
    background-color: #44cdc7;
    border:2px solid #44cdc7;
}
.image-decription-product ul li img {
    width: 82px;
    height: 82px;
}
.icon img {
    width: 70px;
    padding:0.5rem;
}
.row-content-commitment p {
    margin:0;
    padding:0;
}
.title-decription-product {
    margin-top: 5rem;
    background-color: #f7f7f7;
    display: flex;
    line-height: 20px;
}
.title-favorite-product p {
   
    font-family: monospace;
    font-size: 34px;
    font-weight: 500;
    color: #292929;
    margin-bottom: 20px;
    margin-top: 0;

}
.title-favorite-product hr {
    width: 70px;
    height: 5px;
    border-radius: 5px;
    background-color: #94e3df;
    border: 1px solid #94e3df;
}
.product-frame {
    width: 24%;
    text-align: center;
    margin-top:3rem;
}
.product-name {
    padding-left: 2rem;
    padding-right: 2rem;
}
.product-name h3 p {
    font-family: "Noto Serif",serif;
    font-size: 18px;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.product-name a p:hover {
    color:#44cdc7;
}
.price-product span {
    color:#ef2c2c;
    font-weight: 700;
    font-size: 18px;
    
}
.price-product strike {
    color:#8d90a6;
    font-size:14px;
}
.button-cart p {
    border: 2px solid #ef2c2c;
    width: 130px;
    margin-left: 3.5em;
    padding: 10px 20px;
    color: #ef2c2c;
    border-radius: 30px;
    font-weight: 600;
    font-size: 15px;
}
.button-cart p:hover {
    color:#fff;
    background-color:#94e3df;
    border:1px solid #94e3df;
}
.button-cart a {
    text-decoration: none;
}
.product {
    display: flex;
    margin-top:3em;
    flex-wrap: wrap;
    justify-content: space-between;
}
.images img{
    width: 260px;
    height: 260px;
}
.decription-product {
    width: 30rem;
}
.amount {

    margin-top:2rem;
    margin-bottom:2rem;
}
.amount input {
    width: 3rem;
    border: 1px solid #ccc;
    height: 35px;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size:17px;
}
.form-amount button:focus {
    outline:none;
}

input:focus {
    outline: none;
}
.commitment {
    margin-left: 3rem;
    margin-top:2rem;
    border:2px solid #ccc;
}
.title-singer {
    text-align: center;
    font-size: 10px;
}
.infor-commitment {
    margin-top:1rem;
}
.content-commitment {
    display:flex;
}
.row-content-commitment {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-left:0.375rem;
}
.font-family {
    font-family: 'Times New Roman', Times, serif;
}
.text-8d90a6 {
    color:#8d90a6;
}
.leading-75 {
    line-height:57px;
}
.hover\:background-94e3df:hover{
    background-color: #94e3df;
    color:#fff;
    border:1px solid #94e3df;
}
.decription-infor {
    font-size: 18px;
    overflow: hidden;
    line-height: 2.875rem;
}
.buy-product-detail span {
    margin-right: 1rem;
    border: 1px solid red;
    background-color: #FF57221A;
    padding: 15px; 
    font-size: 18px;
    color: red;
    cursor: pointer;
}
#sign-up-for {
    padding:30px 0;
    background-image: url('http://bizweb.dktcdn.net/100/353/542/themes/717234/assets/bg-newletter.jpg?1558433827852');

}
.color-product {
    margin: 0;
    margin-top: 2rem;
}
.color-product button {
    background-color: transparent;
    width: 10em;
    line-height: 2rem;
    border: 1px solid #ccc;
    white-space: nowrap;
    margin: 2px;
    font-size: 13px;
}
.registration {
    width: 80%;
    margin:auto;
    display: flex;
}
.content-registration {
    width: 35%;
    margin-right: 1em;
}
.content-registration h2 p {
    font-family: "Noto Serif",serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom:5px;
    color:#fff;
}
.content-registration span {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 14px;
    color: #fff;
}
.input-email-registration {
    line-height: 8em;
    width: 65%;
    font-family: 'Times New Roman', Times, serif;
}
.input-email-registration a {
    text-decoration: none;
    color: #fff;
    background-color: #44cdc7;
    padding: 20px 45px 21px 35px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: -4px;
}
.input-email-registration i {
    padding-right: 5px;
}
.input-email-registration input {
    width: 500px;
    line-height: 3.5em;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 1px solid #ccc;
    padding-left: 2em;
}
.row-title-footer hr {
    width: 100px;
    height: 1px;
    margin: 0;
    border: 1px solid #44cdc7;
    background-color: #44cdc7;
}
.row-title-footer p {
    font-size:17px;
    font-weight: 700;
    margin-bottom: 1em;

}
.site-footer {
    width: 80%;
    margin:auto;
    display: flex;
    margin-top:2em;
}
.row-footer-1 {
    width: 25%;
}
.row-icon-footer {
    margin-top:10px;
    margin-right: 1em;
}

.row-icon-footer i {
    padding-bottom: 18px;
    color:#44cdc7;
}
.row-content-footer {
    display:flex;
    margin-top:1em;
}

.row-content-infor p {
    font-family: "Noto Serif",serif;
    font-size: 18px;
    color: #292929;
    line-height: 40px;
}