.bg-2A3F54 {
    background-color: steelblue;
}
.bg-darkslateblue {
    background-color: darkslateblue;
}
.w {
    width: 23%;
} 
.font-timenewroman {
    font-family: 'Times New Roman', Times, serif;
}
.form-add-product {
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 9999;
    top: 50%;
    left: 50%;
    background-color: white;
}
.form-edit-product {
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 9999;
    top: 50%;
    left: 50%;
    background-color: white;
}